@media all and (max-width: 600px) {
    .blog {
        align-content: center;
        justify-content: flex-start;

    }

    .postBtn {
        display: none;
    }

    .postsWrapper {

        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;

        padding-right: 30px;
        padding-left: 30px;

        width: 100%;

    }

    .PostBlog {
        margin: 0;
    }

    .topInfo h2 {
        color: white;
    }

    .topInfo p {
        width: 80%;

    }
}