@media all and (max-width: 600px) {
    .PostBlog {
        width: 85%;
        align-items: center;
        align-content: center;
        height: 26rem;
        background-color: white;
        margin-bottom: 2rem;
    }

    .middleBlog p  {
        line-height: 1.4rem;
        width: 90%;
        text-align: justify;
    }

}