@media (max-width: 600px) {
  .servicesWrapper {
    justify-content: center;
  }

  .leftServices {
    display: none;
  }

  .rigthServices {
    width: 90%;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  .rigthServices h2 {
    width: 95%;
    
  }
  .rigthServices p,ul,li {

    width: 90%;
    text-align: justify;
  }
  .rigthServices p {
    width: 90%;
  }

}
