footer {
  background-color: #464141;
  color: white;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.footer {
  display: flex;
  width: 75%;

  justify-content: space-between;
}

.rigthContent {
  display: flex;
  flex-direction: column;
  width: 30%;

}

.rigthContent a {

  text-decoration: none;
}



.numbers a {

  text-decoration: none !important;
}

.numbers a:hover {

  text-decoration: none;
}

.leftContent a:hover,
.rigthContent a:hover {
  text-decoration: none !important;
  /* Remove underline when hovering */
}

.address p span {
  margin-left: 10px;
  /* Adjust the spacing as needed */
  display: inline-block;
  text-align: left;
}