@media all and (max-width: 600px) {
   footer {
       height: 190px;
       align-items: flex-start;
       justify-content: center;
       align-content: center;
       color: white;
   }

   .footer {
    margin-top: 1rem;
    width: 90%;
   }

   .leftContent {
    font-size: .7rem;
    color: white;
   }
.numbers a{
    color: white;
}
   .rigthContent p a {
    font-size: .7rem;
    color: white;
   }
}