@media all and (max-width: 600px) {
    .contact {
        height: 80vh;     
        
    }    
    .rigthContact {
        display: none;
    }    

    .btnContact input {
        width: 190px;
        
    }

    .btnContact button {
        height: 2rem;
    }

    .infosContact {
        
        width: 85%;
        text-align: center;
        align-items: center;
    }

}