.shipping-calculator {
	position: relative;
	width: 350px;
	margin-left: 65%;
	margin-top: -40%;
}

.shipping-calculator.big {
	position: relative;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 768px) {
	.shipping-calculator {
		width: 350px;
		margin-left: 45%;
		margin-right: 20%;
		margin-top: 8%;

	}

}

@media (max-width: 550px) {
	.shipping-calculator {
		width: 350px;
		margin-left: 35%;
		margin-right: 20%;
		margin-top: 15%;

	}

}

@media (max-width:450px) {
	.shipping-calculator {
		width: 350px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15%;

	}

}