.shipping-calculator {
	position: absolute;
	width: 350px;
	left: 65vw;
	top: 13vh;
}

.shipping-calculator.big {
	position: absolute;
	width: 60vw;
	left:50%;
	transform: translateX(-50%);
}

@media (max-width: 768px) {
	.shipping-calculator {
		width: 350px;
		margin-left: 45%;
		margin-right: 20%;
		margin-top: 8%;

	}

}

@media (max-width: 550px) {
	.shipping-calculator {
		width: 350px;
		margin-left: 35%;
		margin-right: 20%;
		margin-top: 15%;

	}

}

@media (max-width:450px) {
	.shipping-calculator {
		top: 80vh;
		width: 90vw;
		left:15%;
		transform: translateX(-50%);
	}
	.shipping-calculator.big {

		width: 90vw;
		left:15%;
		transform: translateX(-50%);
	}

}