@import url('https://fonts.googleapis.com/css?family=Overpass');

body {
  background-color: #232323;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.landing-page.text {
  font-size: 40px;
  position: fixed;

  color: aliceblue;
  margin-left: 10%;
  padding: 0px;
  margin-top: 25px;


}

.landing-page-Text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.landing-page.text h2 {
  margin: 25px;
}

.logisticslogo {
  position: fixed;
  margin-left: 75%;
  top: 78vh;
  width: 150px;
  height: auto;
  margin-bottom: -5;
  display: inline-block;
  padding: 0px;
}

.background-pic {
  position: fixed;

  height: 100vh;
  top: 0;
}

.backgroundlogo {
  position: relative;
  transform: translate(0px, -20px);
  width: 70%;
  top: 0;
  height: auto;
  object-position: 10%;
}

.background-black {
  position: absolute;
  top: 0;
  background-color: #010302;
  height: 100vh;
  /* Replace 'your-line-color' with the desired line color */
  width: 70%;
  opacity: 60%;
  z-index: 1;

}

.courierbote {
  position: fixed;
  margin-left: 80%;
  margin-top: -3%;
  margin-bottom: -10;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 100;
  font-family: 'Overpass';
}

.courierbotelogo {
  position: fixed;
  width: 180px;
  height: auto;
  margin-left: -7%;
  top: 87vh;


}

.vertical-line {
  /* background-color: #e97236; */
  background: linear-gradient(to right, #D6410B, #e95f1a);
  /* Replace 'your-line-color' with the desired line color */
  width: 30%;
  /* Adjust the width of the line as needed */
  height: 100vh;
  /* Set the height to 100% of the viewport height */
  position: relative;
  /* top: 0; */
  left: 70%;
  filter: brightness(0.85);
  /* Adjust the position to place the line at 60% of the viewport width */
  /* z-index: 1; */
}

/* Define your two colors */

.content {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  color: white;
  /* Text color for readability */
}

@media (max-width:450px) {

  .landing-page.text {
    font-size: 30px;
    position: relative;

  }

  .backgroundlogo {
    position: relative;
    transform: translate(-5px, -25px);
    width: 110%;
    top: 0;
    height: auto;
    object-position: 10%;
  }

  .vertical-line {

    width: 200%;
    /* Adjust the width of the line as needed */
    left: 0;
    /* Set the height to 100% of the viewport height */
    position: fixed;
    /* top: 0; */
    top: 70%;
  }

  .background-black {
    width: 100%;


  }

  .landing-page-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .landing-page-Text
  .logisticslogo {
    display: none;
  }

  .courierbote {
    position: relative;
  margin-left:65vw;
  margin-top:0;
  margin-bottom: 10px;
  font-size: 20px;
  }

  .courierbotelogo {
    position: relative;
    width: 120px;
    height: auto;
    margin-left: 0%;
  }
  .landing-page.text h2 {
    margin: 10px;
  }

}