@import url('https://fonts.googleapis.com/css?family=Overpass');

body {
  background-color: #232323;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.landing-page-start {
  position: relative;
  height: 100vh;
  /* 100% of the viewport height */
  display: flex;
  align-items: center;

}

.landing-page-start::before {
  content: "";
  background: linear-gradient(rgba(1, 3, 2, 0.6), rgba(1, 3, 2, 0.5)), url('./assets/background postbox.jpg') center/cover no-repeat;
  /* Use relative path to the image */
  background-position: top -65px center;
  /* Adjust the position as needed */
  flex: 7;
  /* Adjust as needed to cover 70% of the width */
  height: 100%;
}


.landing-page-start::after {
  content: "";
  background: linear-gradient(to right, #D6410B, #e95f1a);
  /* Gradient background from left to right */
  flex: 3;
  /* Adjust as needed to cover 30% of the width */
  height: 100%;
  filter: brightness(0.8);
  z-index: -1;

}


.logisticslogo {
  position: absolute;
  top: 75vh;
  width: 150px;
  height: auto;
  right: 5vw;
}

.landing-page-Text h2 {
  margin: 0;
  margin-top: 20px;
}

.landing-page-Text {
  position: absolute;
  top: 20vh;
  left: 20vw;
  font-size: 40px;
  position: fixed;
  color: aliceblue;
  padding: 0px;
}

.courierbote {
  position: absolute;
  top: 2.5vh;
  left: 80vw;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 100;
  font-family: 'Overpass';
}


.courierbotelogo {
  position: absolute;
  width: 180px;
  height: auto;
  left: 2vw;
  top: 87vh;

}





@media (max-width:450px) {
  .landing-page-start {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 173vh;
    width: 100vw;
    /* 100% of the viewport height */

  }

  .landing-page-start::before {
    content: "";
    background: linear-gradient(rgba(1, 3, 2, 0.6), rgba(1, 3, 2, 0.5)), url('./assets/background postbox.jpg') center/cover no-repeat;
    /* Use relative path to the image */
    background-position: top -65px center;
    /* Adjust the position as needed */
    background-position: top center;
    flex: 1;
    /* Adjust as needed */
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
  }


  .landing-page-start::after {
    content: "";
    background: linear-gradient(to right, #D6410B, #e95f1a);
    /* Gradient background from left to right */
    flex: 1;
    /* Adjust as needed to cover 30% of the width */
    height: 100%;

    z-index: -1;

  }


  .landing-page-Text {
    font-size: 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .logisticslogo {
    display: none;
  }


  .courierbote {
    position: absolute;
    top: 79vh;
    font-size: 20px;
    left: 65vw;

  }

  .courierbotelogo {
    position: absolute;
    width: 120px;
    top: 165vh;
  }

  .landing-page.text h2 {
    margin: 10px;
  }

}